<section class="testimonials-section section-padding bg-light" *ngIf="testimonials.length > 0">
    <div class="container">
        <div class="section-header text-center">
            <span class="">{{ 'TESTIMONIALS' | translate }}</span>
            <h2 class="section-title">{{ 'FEEDBACK_TITLE' | translate }}</h2>
            <p class="section-description">{{ 'CLIENT_TESTIMONIALS_DESC' | translate }}</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4" *ngFor="let testimonial of testimonials | slice:0:3">
                <div class="testimonial-card">
                    <div class="testimonial-content">
                        <div class="testimonial-rating">
                            <i class="fa-solid fa-star" *ngFor="let star of getStarsArray(testimonial.rating)"></i>
                        </div>
                        <p>"{{ testimonial.comment }}"</p>
                    </div>
                    <div class="testimonial-author">
                        <div class="author-info">
                            <h5>{{ testimonial.client_name }}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center mt-4">
            <a routerLink="/testimonials" class="btn testimonials-btn">
                {{ 'VIEW_ALL_TESTIMONIALS' | translate }}
                <i class="fa-solid ms-2"
                    [ngClass]="{'fa-arrow-right': translate.currentLang === 'en', 'fa-arrow-left': translate.currentLang === 'ar'}"></i>
            </a>
        </div>
    </div>
</section>