<section class="stats-section section-padding" #statsSection>
    <div class="container">
        <!-- زر اختبار العداد -->
        <div class="text-center mb-4" *ngIf="!hasAnimated">
            <button class="btn btn-light" (click)="testCounter()">
                <i class="fa-solid fa-play"></i> {{ 'START_COUNTER' | translate }}
            </button>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="stat-card text-center">
                    <div class="stat-icon">
                        <i class="fa-solid fa-chart-line"></i>
                    </div>
                    <div class="stat-number">{{ animatedStats.completedStudies }}+</div>
                    <div class="stat-label">{{ 'COMPLETED_STUDIES' | translate }}</div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="stat-card text-center">
                    <div class="stat-icon">
                        <i class="fa-solid fa-users"></i>
                    </div>
                    <div class="stat-number">{{ animatedStats.satisfiedClients }}+</div>
                    <div class="stat-label">{{ 'SATISFIED_CLIENTS' | translate }}</div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="stat-card text-center">
                    <div class="stat-icon">
                        <i class="fa-solid fa-trophy"></i>
                    </div>
                    <div class="stat-number">{{ animatedStats.yearsExperience }}+</div>
                    <div class="stat-label">{{ 'YEARS_EXPERIENCE' | translate }}</div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="stat-card text-center">
                    <div class="stat-icon">
                        <i class="fa-solid fa-handshake"></i>
                    </div>
                    <div class="stat-number">{{ animatedStats.successPartners }}+</div>
                    <div class="stat-label">{{ 'SUCCESS_PARTNERS_COUNT' | translate }}</div>
                </div>
            </div>
        </div>
    </div>
</section>