<section class="services-section section-padding">
    <div class="container">
        <div class="section-header text-center">
            <span class="">{{ 'SERVICES' | translate }}</span>
            <h2 class="section-title text-center mt-2">{{ 'SERVICES_PAGE_DESC' | translate }}</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4" *ngFor="let service of defaultServices">
                <div class="service-card">
                    <div class="service-icon">
                        <i class="fa-solid" [ngClass]="service.icon"></i>
                    </div>
                    <div class="service-content">
                        <h4>{{ service.title }}</h4>
                        <p>{{ service.description }}</p>
                        <a [routerLink]="service.link" class="service-link">
                            {{ 'READ_MORE' | translate }}
                            <i class="fa-solid ms-2"
                                [ngClass]="{'fa-arrow-right': translate.currentLang === 'en', 'fa-arrow-left': translate.currentLang === 'ar'}"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>