<section class="how-it-works-section">
    <div class="container">
        <div class="section-title text-center">
            <h2>{{ 'HOW_IT_WORKS.TITLE' | translate }}</h2>
        </div>

        <div class="row steps-row">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="step-card">
                    <div class="step-number purple">1</div>
                    <h3>{{ 'HOW_IT_WORKS.STEP1_TITLE' | translate }}</h3>
                    <p>{{ 'HOW_IT_WORKS.STEP1_DESC' | translate }}</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="step-card">
                    <div class="step-number blue">2</div>
                    <h3>{{ 'HOW_IT_WORKS.STEP2_TITLE' | translate }}</h3>
                    <p>{{ 'HOW_IT_WORKS.STEP2_DESC' | translate }}</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="step-card">
                    <div class="step-number green">3</div>
                    <h3>{{ 'HOW_IT_WORKS.STEP3_TITLE' | translate }}</h3>
                    <p>{{ 'HOW_IT_WORKS.STEP3_DESC' | translate }}</p>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="download-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="download-card">
                            <div class="zoom-icon">
                                <i class="fa fa-video"></i>
                            </div>
                            <a href="#" class="download-btn">
                                {{ 'HOW_IT_WORKS.DOWNLOAD_IOS' | translate }}
                                <i class="fa fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="download-card">
                            <div class="zoom-icon">
                                <i class="fa fa-video"></i>
                            </div>
                            <a href="#" class="download-btn">
                                {{ 'HOW_IT_WORKS.DOWNLOAD_ANDROID' | translate }}
                                <i class="fa fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="download-card">
                            <div class="zoom-icon">
                                <i class="fa fa-video"></i>
                            </div>
                            <a href="#" class="download-btn">
                                {{ 'HOW_IT_WORKS.DOWNLOAD_PC' | translate }}
                                <i class="fa fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>