<section class="posts-section section-padding" *ngIf="courses.length > 0">
    <div class="container">
        <div class="section-header text-center">
            <span class="">{{ 'COURSES' | translate }}</span>
            <h2 class="section-title">{{ 'LATEST_COURSES' | translate }}</h2>
            <p class="section-description">{{ 'COURSES_DESC' | translate }}</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4" *ngFor="let course of courses">
                <div class="post-card">
                    <div class="post-image">
                        <img [src]="getImageUrl(course.image_url, 'assets/images/post-placeholder.jpg')"
                            [alt]="course.title" class="img-fluid">
                        <div class="post-date">
                            <span class="date-day">{{ formatDate(course.created_at).split(' ')[0] }}</span>
                            <span class="date-month">{{ formatDate(course.created_at).split(' ')[1] }}</span>
                        </div>
                    </div>
                    <div class="post-content">

                        <p class="post-title">
                            <a [routerLink]="['/courses', course.id]">{{ course.title }}</a>
                        </p>
                        <a [routerLink]="['/courses', course.id]" class="post-link">
                            {{ 'READ_MORE' | translate }}
                            <i class="fa-solid ms-2"
                                [ngClass]="{'fa-arrow-right': translate.currentLang === 'en', 'fa-arrow-left': translate.currentLang === 'ar'}"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mt-4">
            <a routerLink="/courses" class="btn btn-outline-primary">
                {{ 'VIEW_ALL_COURSES' | translate }}
            </a>
        </div>
    </div>
</section>