// Styles have been moved to their respective component SCSS files.
// - about-section/about-section.component.scss
// - services-section/services-section.component.scss
// - stats-section/stats-section.component.scss
// - work-samples-section/work-samples-section.component.scss
// - team-section/team-section.component.scss
// - testimonials-section/testimonials-section.component.scss
// - latest-courses-section/latest-courses-section.component.scss
// - latest-posts-section/latest-posts-section.component.scss
// - cta-section/cta-section.component.scss
// - partners-section/partners-section.component.scss