<section class="about-section section-padding">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-content">
                    <div class="section-header">
                        <span class="">{{ 'ABOUT_US' | translate }}</span>
                        <p class="section-title">{{ 'WHO_WE_ARE_TITLE' | translate }}</p>
                        <p class="section-description">{{ 'ABOUT_US_DESC_1' | translate }}</p>
                        <p>{{ 'ABOUT_US_DESC_2' | translate }}</p>
                    </div>
                    <div class="about-features">
                        <div class="feature-item">
                            <div class="feature-icon">
                                <i class="fa-solid fa-book-quran"></i>
                            </div>
                            <div class="feature-content">
                                <h4>{{ 'LEARN_ANYWHERE' | translate }}</h4>
                                <p>{{ 'LEARN_ANYWHERE_DESC' | translate }}</p>
                            </div>
                        </div>
                        <div class="feature-item">
                            <div class="feature-icon">
                                <i class="fa-solid fa-chalkboard-user"></i>
                            </div>
                            <div class="feature-content">
                                <h4>{{ 'EXPERT_INSTRUCTOR' | translate }}</h4>
                                <p>{{ 'EXPERT_INSTRUCTOR_DESC' | translate }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="about-cta">
                        <a routerLink="/about" class="btn btn-warning btn-lg rounded-pill">
                            {{ 'READ_MORE' | translate }}
                            <i class="fa-solid ms-2"
                                [ngClass]="{'fa-arrow-right': translate.currentLang === 'en', 'fa-arrow-left': translate.currentLang === 'ar'}"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-image">
                    <img src="assets/images/i-2-1024x683.webp" alt="About Us" class="img-fluid rounded-3">
                    <div class="experience-badge" *ngIf="stats">
                        <div class="badge-content">
                            <h3>{{ stats.yearsExperience }}+</h3>
                            <p class="text-white">{{ 'YEARS_EXPERIENCE' | translate }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>