<section class="services-area">
    <div class="container">
        <div class="section-header animate__animated animate__fadeInDown">
            <h2>{{ 'SERVICES_PAGE_TITLE' | translate }}</h2>
            <p>{{ 'SERVICES_PAGE_DESC' | translate }}</p>
        </div>

        <div class="row" *ngIf="isLoading">
            <div class="col-lg-4 col-md-6 mb-4" *ngFor="let item of [1,2,3,4,5,6]">
                <div class="skeleton-loader"></div>
            </div>
        </div>

        <div class="row" *ngIf="!isLoading">
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4" *ngFor="let service of services; let i = index">
                <app-content-card 
                    [item]="service" 
                    [routePath]="'/services'" 
                    [animationDelay]="i * 0.1">
                </app-content-card>
            </div>

            <div class="col-12 text-center py-5" *ngIf="services.length === 0">
                <div class="alert alert-info animate__animated animate__fadeIn">
                    {{ 'NO_SERVICES_FOUND' | translate }}
                </div>
            </div>
        </div>

        <!-- Pagination -->
        <app-pagination [meta]="meta" (pageChange)="onPageChange($event)"></app-pagination>
    </div>
</section>