<section class="cta-section section-padding bg-gradient">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8">
                <div class="cta-content">
                    <h2 class="cta-title">{{ 'NEED_FEASIBILITY_STUDY' | translate }}</h2>
                    <p class="cta-description">{{ 'FEASIBILITY_STUDY_CTA_DESC' | translate }}</p>
                </div>
            </div>
            <div class="col-lg-4 text-center">
                <div class="cta-buttons">
                    <a routerLink="/contacts" class="btn btn-outline-light btn-lg">
                        {{ 'CONTACT_US' | translate }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>