<section class="cta-section section-padding">
    <div class="cta-overlay"></div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8">
                <div class="cta-content">
                    <div class="cta-icon">
                        <i class="fa-solid fa-star-and-crescent"></i>
                    </div>
                    <h2 class="cta-title">{{ 'NEED_FEASIBILITY_STUDY' | translate }}</h2>
                    <p class="cta-description text-white">{{ 'FEASIBILITY_STUDY_CTA_DESC' | translate }}</p>
                </div>
            </div>
            <div class="col-lg-4 text-center">
                <div class="cta-buttons">
                    <a routerLink="/contacts" class="btn btn-islamic btn-lg">
                        {{ 'CONTACT_US' | translate }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>